In [47]:
import pandas as pd
import os

In [48]:
from acquire import get_titanic_data
from acquire import get_iris_data
from acquire import get_telco_data

NameError: name 'env' is not defined

In [52]:
def new_titanic_data():
    '''
    This function reads the titanic data from the Codeup db into a df.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM passengers'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    
    return df

In [54]:
titanic_df = new_titanic_data()
titanic_df.head()

NameError: name 'get_connection' is not defined