#### In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.


print the first 3 rows

print the number of rows and columns (shape)

print the column names

print the data type of each column

print the summary statistics for each of the numeric variables

In [2]:
import pandas as pd

In [6]:
from pydataset import data

df_iris = data('iris')

In [8]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [11]:
df_iris.shape

(150, 5)

In [12]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [13]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [15]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

assign the first 100 rows to a new dataframe, df_google_sheets_sample

print the number of rows of your original dataframe

print the first 5 column names

print the column names that have a data type of object

compute the range for each of the numeric variables.

In [100]:
sheet_url = 'https://docs.google.com/spreadsheets/d/142tBLC2RMj013ftOMnh5HxG_o4FHaVsvYkd5-h3fFbA/edit#gid=1023018493'
    
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google_sheets = pd.read_csv(csv_export_url)
df_google_sheets.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

In [20]:
df_google_sheets_sample = df_excel.head(100)

In [22]:
df_google_sheets_sample.shape

(100, 13)

In [101]:
df_google_sheets.shape[0]

7049

In [102]:
df_google_sheets.iloc[: , :5].columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [103]:
df_google_sheets.select_dtypes(include='object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [104]:
df_google_sheets.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
tenure               float64
dtype: object

In [74]:
import numpy as np

In [105]:
df_google_sheets['is_senior_citizen'] = df_google_sheets.is_senior_citizen.astype('object')
df_google_sheets['phone_service'] = df_google_sheets.phone_service.astype('object')
df_google_sheets['internet_service'] = df_google_sheets.internet_service.astype('object')
df_google_sheets['contract_type'] = df_google_sheets.contract_type.astype('object')

In [106]:
mc_range = df_google_sheets.monthly_charges.max() - df_google_sheets.monthly_charges.min()
tc_range = df_google_sheets.total_charges.max() - df_google_sheets.total_charges.min()
t_range = df_google_sheets.tenure.max() - df_google_sheets.tenure.min()

mc_range, tc_range, t_range

(100.5, 8666.0, 79.3)

#### Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

assign the first 100 rows to a new dataframe, df_excel_sample

print the number of rows of your original dataframe

print the first 5 column names

print the column names that have a data type of object

compute the range for each of the numeric variables.

In [111]:
df_excel = pd.read_excel('/Users/mindyshiben/Downloads/spreadsheet_excel.xlsx')

In [112]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [114]:
df_excel_sample = df_excel.head(100)
df_excel_sample.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [115]:
df_excel.shape[0]

7049

In [116]:
df_excel.iloc[: , :5].columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [117]:
df_excel.select_dtypes(include='object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [118]:
df_excel['is_senior_citizen'] = df_excel.is_senior_citizen.astype('object')
df_excel['phone_service'] = df_excel.phone_service.astype('object')
df_excel['internet_service'] = df_excel.internet_service.astype('object')
df_excel['contract_type'] = df_excel.contract_type.astype('object')

In [119]:
mc_range = df_excel.monthly_charges.max() - df_excel.monthly_charges.min()
tc_range = df_excel.total_charges.max() - df_excel.total_charges.min()
t_range = df_excel.tenure.max() - df_excel.tenure.min()

mc_range, tc_range, t_range

(100.5, 8666.0, 79.34177215)

#### Read the data from this google sheet into a dataframe, df_google.

print the first 3 rows

print the number of rows and columns

print the column names

print the data type of each column

print the summary statistics for each of the numeric variables

print the unique values for each of your categorical variables

In [121]:
sheet_url2 = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url2 = sheet_url2.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url2)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [122]:
df_google.shape

(891, 12)

In [123]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [125]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [126]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [152]:
df_google.select_dtypes(include='object').value_counts().nunique

<bound method IndexOpsMixin.nunique of Name                                Sex     Ticket    Cabin  Embarked
Allen, Miss. Elisabeth Walton       female  24160     B5     S           1
Newsom, Miss. Helen Monypeny        female  11752     D47    S           1
Molson, Mr. Harry Markland          male    113787    C30    S           1
Moor, Master. Meier                 male    392096    E121   S           1
Moor, Mrs. (Beila)                  female  392096    E121   S           1
                                                                        ..
Frolicher, Miss. Hedwig Margaritha  female  13568     B39    C           1
Frolicher-Stehli, Mr. Maxmillian    male    13567     B41    C           1
Fry, Mr. Richard                    male    112058    B102   S           1
Futrelle, Mr. Jacques Heath         male    113803    C123   S           1
Young, Miss. Marie Grice            female  PC 17760  C32    C           1
Length: 202, dtype: int64>

In [154]:
u_name = df_google.Name.value_counts().nunique
u_sex = df_google.Sex.value_counts().nunique
u_ticket = df_google.Ticket.value_counts().nunique
u_cabin = df_google.Cabin.value_counts().nunique
u_embarked = df_google.Embarked.value_counts().nunique

u_name, u_sex, u_ticket, u_cabin, u_embarked

(<bound method IndexOpsMixin.nunique of Braund, Mr. Owen Harris                     1
 Boulos, Mr. Hanna                           1
 Frolicher-Stehli, Mr. Maxmillian            1
 Gilinski, Mr. Eliezer                       1
 Murdlin, Mr. Joseph                         1
                                            ..
 Kelly, Miss. Anna Katherine "Annie Kate"    1
 McCoy, Mr. Bernard                          1
 Johnson, Mr. William Cahoone Jr             1
 Keane, Miss. Nora A                         1
 Dooley, Mr. Patrick                         1
 Name: Name, Length: 891, dtype: int64>,
 <bound method IndexOpsMixin.nunique of male      577
 female    314
 Name: Sex, dtype: int64>,
 <bound method IndexOpsMixin.nunique of 347082      7
 CA. 2343    7
 1601        7
 3101295     6
 CA 2144     6
            ..
 9234        1
 19988       1
 2693        1
 PC 17612    1
 370376      1
 Name: Ticket, Length: 681, dtype: int64>,
 <bound method IndexOpsMixin.nunique of B96 B98            4
 G6                 4
 C23 C25 C27        4
 C22 C26            3
 F33                3
 F2                 3
 E101               3
 D                  3
 C78                2
 C93                2
 E8                 2
 D36                2
 B77                2
 C123               2
 E121               2
 E44                2
 D35                2
 C125               2
 E67                2
 B35                2
 B18                2
 E24                2
 B49                2
 C65                2
 B20                2
 B5                 2
 B57 B59 B63 B66    2
 C126               2
 B51 B53 B55        2
 F4                 2
 C124               2
 F G73              2
 B58 B60            2
 C52                2
 D33                2
 C68                2
 D20                2
 D26                2
 B28                2
 C83                2
 E25                2
 D17                2
 B22                2
 C92                2
 C2                 2
 E33                2
 C70                1
 E58                1
 A16                1
 C86                1
 D19                1
 D48                1
 A26                1
 B50                1
 A20                1
 C101               1
 A10                1
 A23                1
 E68                1
 D9                 1
 B41                1
 D50                1
 C85                1
 B71                1
 D49                1
 B42                1
 C50                1
 A24                1
 E17                1
 D28                1
 C47                1
 E49                1
 B69                1
 B102               1
 A36                1
 B82 B84            1
 D6                 1
 B3                 1
 F38                1
 E77                1
 D11                1
 D30                1
 C46                1
 D45                1
 B101               1
 B38                1
 C45                1
 C90                1
 C62 C64            1
 F G63              1
 B39                1
 E10                1
 C95                1
 B86                1
 C99                1
 B94                1
 C87                1
 D15                1
 A31                1
 B80                1
 B4                 1
 A32                1
 C49                1
 A7                 1
 B19                1
 D47                1
 D7                 1
 F E69              1
 C110               1
 D10 D12            1
 A5                 1
 E31                1
 B30                1
 B78                1
 A6                 1
 D56                1
 C103               1
 E46                1
 C118               1
 A19                1
 B73                1
 A34                1
 D46                1
 B79                1
 C30                1
 B37                1
 A14                1
 E63                1
 E12                1
 D21                1
 E38                1
 C111               1
 C104               1
 C82                1
 C106               1
 E50                1
 D37                1
 C128               1
 T                  1
 E40                1
 C91                1
 C32                1
 E34                1
 C7                 1
 C54                1
 E36                1
 C148               1
 Name: Cabin, dtype: int64>,
 <bound method IndexOpsMixin.nunique of S    644
 C    168
 Q     77
 Name: Embarked, dtype: int64>)